<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./index.css">
  <script src="../lib/vue.js"></script>
  <script src="../lib/axios.min.js"></script>
  <script src="../lib/lodash.min.js"></script>
</head>
<body>
  
  <div id="app1">
    {{ a+1 }}
    <div>using v-html <span v-html="rawHtml"></span></div>
    {{ok ? 'yes' : 'no'}}
    {{ reversedMsg }} {{now}}
    <p>{{ fullName }}</p>
  </div>
  <a v-bind:href="url">click me</a>

  <div id="watch-ex">
    <p>
      Ask a yes/no question:
      <input v-model="question">
    </p>
    <p>{{answer}}</p>
  </div>

  <div id="app2">
    <div v-bind:class="{active: isActive}">abc</div>
    <div class="static"
      v-bind:class="{active: isActive, 'text-danger': hasError}">
      def
    </div>
    <div v-bind:class="classObj">ghf</div>
    <div v-bind:class="[activeClass, errorClass]">jkl</div>
    <div v-bind:style="{color: activeColor, fontSize: fontSize+'px'}">mno</div>
    <div v-bind:style="{ display: ['-webkit-box', '-ms-flexbox', 'flex']}">
      <div>aaa</div>
      <div>bbb</div>
      <div>ccc</div>
    </div>
  </div>

  <div id="app3">
    <h1 v-if="ok">Yes</h1>
    <!-- <h1 v-else>No</h1> -->
    <template v-else>
      <h2>Noo</h2>
      <h3>mom</h3>
    </template>

    <div v-if="type==='A'">A</div>
    <div v-else-if="type==='B'">B</div>
    <div v-else-if="type==='C'">C</div>
    <div v-else>Not A/B/C</div>
  </div>

  <div id="list-render">
    <ul id="ex-1">
      <li v-for="(item,index) in items">
        {{prefix}}: {{ item.message }} - {{index}}
      </li>
      <li v-for="val in objects">
        {{val }}
      </li>
      <li v-for="(value, key) in objects">
        {{key}} - {{value}}
      </li>
      <li v-for="val of gen">
        {{val}}
      </li> ---
      <li v-for="n in even(gen2)">
        {{n}}
      </li>
    </ul>  
  </div>

  <div id="app4">
    <button v-on:click="counter += 1">Add 1</button>
    <p>The button clicked {{counter}} times.</p>
    <button v-on:click="greet">Greet</button>
    <form v-on:submit.prevent></form>
  </div>

  <div id="app5">
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{message}}</p>
    
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{message2}}</p>
    <br>
    <textarea v-model="message2" placeholder="add multiple"></textarea>

    <input type="checkbox" v-model="checked">
    <label for="checkbox">{{checked}}</label>
  </div>

  <div id="components-demo">
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>
  
<div id="app8">
  <blog-post title="My journey with vue"></blog-post>
  <blog-post title="blogging with Vue"></blog-post>
  <div :style="{fontSize: postFontSize+'em'}">
    <blog-post v-for="post in posts" 
      v-bind:key="post.id" 
      v-bind:post="post"
      v-on:enlarge-text="postFontSize += $event">
    </blog-post>
  </div>
</div>











  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
  

  <script src="index.js"></script>
</body>
</html>
